html, body {
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: Open Sans, SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif, Microsoft YaHei !important;
  height: 100vh;
  margin: 0;
}

a, a:hover, a:focus, a:visited {
  color: #000;
}

/******************Antd Menu********************/
.ant-layout-header {
  background: #232933 !important;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #232933 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #232933 !important;
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover {
  color: #2EA9DF !important;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
  color: #FFFFFF;
}

.ant-menu-item, .ant-menu-submenu-title {
  padding: 0 11px !important;
}

/******************Antd breadcrumb********************/
.ant-breadcrumb-link-befor {
  color: #2EA9DF;
}

.ant-breadcrumb > span:last-child {
  color: rgba(0, 0, 0, 0.85)
}

/******************Antd pages********************/
.ant-pagination-item-active {
  background-color: #2EA9DF !important;
}

.ant-pagination-item-active a {
  color: #ffffff !important;
}

/******************Antd select********************/
.ant-input-group-addon {
  background-color: #ffffff !important;
}

/******************Antd input********************/
.ant-input {
  height: 40px;
}


